/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
}

.diff-font{
    font-family: "Satisfy", cursive;
}
body{
    margin: 0px;
    background-color: #111111;
}

/* share style */
.btn-primary{
    color: #FFFFFF;
    background-color: #E6533C;
    padding: 8px 20px;
    font-size: 18px;
font-weight: 600;
border: 0px;
border-radius: 32px;
}

.btn-bg{
    color: #FFFFFF;
  background-color: #111111;
    padding: 8px 20px;
    font-size: 24px;
font-weight: 600;
border: 0px;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
margin-left: 14px;
}

.btn-to{
    display: flex;
}
header{
    padding: 60px 120px ;
    justify-content: center;
    background: linear-gradient(180deg, rgb(17, 17, 17),  rgba(119, 119, 119, 0) 100%);
 
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 30px ;
    text-align: center;
justify-content: center;
align-items: center;
}
nav li{
    list-style: none;
    font-weight: 400px;
    font-size: 18px;
    
}
nav li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.fitnees-hg{
    color: #E6533C;
    font-weight: 800;
    font-size: 32px;
   
}

/* banner style */
.text-br{
    font-size: 75px;
    font-weight: 900;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
   
    color: #FFFFFF;
}
.banner-text{
    margin-right: 180px;
}

.banner-p{
    color: #FFFFFF ;
    opacity: 50%;

}

/* habbit-container */
.habbit-container{
  margin-top: 100px;
}
.Change-text{

    text-align: center;
}
.Change-text h2 ,.run{
    color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
}
.Change-text p{
    color: #FFFFFF ;
    opacity: 50%;
 margin-bottom: 50px;
}
.health-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.health-text-hg{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
}
.img-cr{
    border-radius: 50%;
}

/* trainers */
.meet-contanier{
    margin-top: 120px;
}
.trainers-img1, .trainers-img2{
  display: flex;
    justify-content: center;
    align-items: center;
}
.trainers img{
    width: 350px;
   height: 270px;
   margin:20px;
   border-radius: 18px;
}

/* footer */

footer{
   background: rgba(255, 255, 255, 0.1);
}

.footer-contan{
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 50px 180px;
}

.gets h4{
 color: #FFFFFF;
text-align: center;
font-size: 28px;
font-weight: 600;
}
.gets ul>li{
    list-style: none;
   margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
}
hr{
    width: 75%;
}

.alls{
    text-align: center;
   font-size: 20px;
    padding-top: 60px;
    padding-bottom: 80px;
}

/* exte-contan */

.exte-contan{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgb(34, 34, 34);
}
.runs{
    margin-top: 60px;
    margin-bottom: 100px;
}
.extas img{
    width: 560px;
    border-radius: 18px;
}


/* responsive media */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
     flex-direction: column;
    }
    .banner{
        flex-direction: column;
    }
}